[submodule ".registry"]
	path = .registry
	url = https://github.com/billsfriend/billsfriend.r-universe.dev
	branch = HEAD
[submodule "DDRTree2"]
	path = DDRTree2
	url = https://github.com/billsfriend/DDRTree2
